body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 80%; /* Adjust the width as needed */
}

.container {
  text-align: center;
}

.content {
  margin: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(234, 13, 13);
  border-radius: 5px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.qr-code {
  margin-top: 20px;
}
